    /* Estilos para el navbar */

    body {
        font-family: 'Courier New', Courier, monospace;
        background-color: #2c9c73;
    }
    
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #ba53d9;
        color: #fff;
    }
    
    .navbar-brand {
        display: block;
        padding: 20px;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .navbar-nav { .navbar {
        width: 20%;
        max-width: none;
        }
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .nav-item {
        margin-bottom: 10px;
    }
    
    .nav-link {
        display: block;
        padding: 10px 20px;
        color: #fadb2f;
        text-decoration: none;
    }
    
    .nav-link:hover {
        background-color: #555;
    }
    
    /* Estilos para el contenido */
    
    .container {
        margin: 0 auto;
        max-width: 700px;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
        padding: 10px 20px;
        background-color: #333;
        color: #fadb2f;
        text-decoration: none;
    }
    
    .back-to-top:hover {
        background-color: #555;
    }
    
    h1 {
        margin-top: 0;
        color: #fadb2f;
    }
    


    @media screen and (max-width: 970px) {
        .container{
            width: 60%;
            text-align: center;


        }
   
   
    }
    /* Estilos para pantallas de 700px o menos */
    
    @media screen and (max-width: 770px) {

        .container{
            width:500px;
            max-width: 400px;


        }
        .navbar {
        width: 20%;
        max-width: none;
        }
    
        .navbar-nav {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: auto;
        }
    
        .nav-item {
        margin-bottom: 0;
        }
    
        .nav-link {
        padding: 10px;
        }
    }
    
    /* Estilos para pantallas de 400px o menos */
    
    @media screen and (max-width: 414px) {

        .navbar {
            width: 20%;
            max-width: none;
            }

        .navbar-brand {
        font-size: 1.2rem;
        }
    
        .nav-link {
        font-size: 0.8rem;
        }
        .container{
            width: 80%;
            max-width: 200px;


        }
    }

 
      
      @media screen and (max-width: 768px) {
        .container {
          padding: 10px; /*se reduce el padding para pantallas pequeñas*/
        }
      }
      
      @media screen and (max-width: 576px) {
        .container {
          max-width: 540px; /*se ajusta el ancho máximo para pantallas más pequeñas*/
          padding: 0 10px; /*se reduce el padding para pantallas muy pequeñas*/
        }
      }